html,
body {
  height: 100%;
}

body {
  font-family: Helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

section {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 200px;
}

h1,
h2,
h3,
p,
label {
  margin: 0 16px;
}

p {
  font-size: 0.9em;
}

#display h2,
p {
  margin: 5px 16px;
}

input {
  border: 1px solid black;
  margin: 6px 16px;
  /* I didn't like the 0.5em padding on the input:color */
}

input:number {
  padding: 0.5em;
}

label {
  margin: 0 16px;
}

#box {
  border: 1px solid black;
  margin-left: 1rem;
  transition: width 1s, height 1s, background-color 1s;
}
